.Property-header {
    display: flex;
    justify-content: space-around;
}

.Icon {
    cursor: pointer;
}

.Carousel {
    width: 50%;
}

@media (max-width: 990px) {
	.Carousel {
        width: 100%;
	}
}
